
  <button class="recipe-button" mat-raised-button color="primary" (click)="showRecipe()">Show recipe</button>

<table mat-table [dataSource]="items" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Product Name </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Expiration date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.productId }} </td>
      </ng-container>
  
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Food status</th>
        <td mat-cell *matCellDef="let element">
            <mat-icon class="red" *ngIf="element.foodStatus == 'EXPIRED'">delete</mat-icon>
            <mat-icon class="orange" *ngIf="element.foodStatus == 'ALMOST_EXPIRED'">report_problem</mat-icon>
            <mat-icon color="primary" *ngIf="element.foodStatus == 'EXPIRING'">hourglass_full</mat-icon>
            <mat-icon class="green" *ngIf="element.foodStatus == 'FRESH'">spa</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="used(element.id)">Used</button>
            <button mat-button color="primary" (click)="thrown(element.id)">Thrown</button>
        </td>
      </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
